# Hugo .gitignore
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
